<section>

   <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi similique temporibus, quasi harum quas laboriosam obcaecati exercitationem, est et fugiat eligendi! Qui dolore unde deleniti voluptas ad, omnis delectus commodi.
</p>
</section>